html {
  height: 100%;
  width: 100%;
}

ul li{
  float:left;
  display:inline-block;
  padding:30px;
}

ul li a{
  color: #f73636;
  text-decoration: none;
  font-size:20px;
}

ul li a:hover{
  text-decoration: underline;
}

.navigationbar{
  margin-top: -100px;
}

.im1, .im2, .im3{
  display: inline-block;
  width: 400px;
  height: 350px;
  
}

.btn1, .btn2, .btn3{
  background-color: #fd1212;
  border-radius: 30px;
  width: 150px;
  height: 30px;
 
 
  
}

.coffee{
  position: absolute;
  top: 1000px;
}

.dash{
  font-family: Brush Script MT;
  position: absolute;
  bottom: 400px;
  color: white;
  left: 530px;
  top: 200px;

  
}

.his{
  font-family: Copperplate Gothic Bold;
  position: absolute;
  bottom: 350px;
  color: white;
  left: 520px;
  top: 250px;
  
}

.co{
  position: absolute;
  bottom: 450px;
left: 470px;
  color: white;
  top: 150px;
}

.read{
  background-color: indianred;
  color: white;
  text-align:center ;
  border-radius: 30px;
  width: 200px;
  height: 30px;
  position: absolute;
  bottom: 150px;
  left: 500px;
}

.y, .t, .h, .g, .f{
  display: inline;
  width: 40px;
  height: 40px;
 
 
}

.Links, .Menu, .Shopping, .Buis, .Info{
  display: inline-block;
  padding-left:60px;

}
.footer{
  position: absolute;
  top:1500px;
}

.btn1{
  position: absolute; 
  left:100px;
  top:900px;
}
.btn2{
  position:absolute;
  left:550px;
  top:900px;
}

.btn3{
  position:absolute;
  left:930px;
  top:900px;
}

